<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=1, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="../../css/includes/reset.css">
		<link rel="stylesheet" href="../../css/includes/topbar.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/includes/tags.css">
		<link rel="stylesheet" href="../../css/views/finalenquiry.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<title>The Dusk | Inquiry</title>
	</head>
	<body>
		<div id="topbar-container">
			<img id="comp-logo" src="../../static/icon.svg">
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<button id="topbar-booknow-btn" class="global-site-btn">
					BOOK NOW
				</button>
			</div>
		</div>
		<div id="header-container">
			<h1>EVENT INQUIRY</h1>
		</div>
		<div id="body-content">
			<form id="bookingForm" action="finalenquiry.html" method="post" target="_blank">
                <h2>RFP has successfully submitted!</h2> <br>
                <p id="submission">Thank you for choosing The Dusk as the destination for your upcoming event.<br>It will be our pleasure to contact you within one business day to discuss a proposal.</p>
                <br> <br>
                <div class="input-container">

                    <h2 class="underline">Event Information</h2>
					<br>

                    <div class="input-container">
                        <label for="eventType">Type of Event:</label>
                        <span id="eventType"></span>
                    </div>
            
                    <div class="input-container">
                        <label for="company">Company/Association:</label>
                        <span id="company"></span>
                    </div>
            
                    <div class="input-container">
                        <label for="eventName">Event Name:</label>
                        <span id="eventName"></span>
                    </div>

                    <div class="input-container" id="event">
                        <label for="attendees">Estimated Number of Attendees:</label>
                        <span id="attendees"></span>
                    </div>
            
                    <div class="input-container" id="event">
                        <label for="eventDate">Date of Event:</label>
                        <span id="eventDate"></span>
                    </div>
                
                    <div class="input-container" id="event">
                        <label for="eventTime">Time of Event:</label>
                        <span id="eventTime"></span>
                    </div>

                </div>
                
                <h2 class="underline">Contact Information</h2>
                <br>
                    <div class="input-container">
                        <label for="lastName">Name:</label>
                        <span id="lastName"></span> <span id="firstName"></span>
                    </div>
            
                    <div class="input-container">
                        <label for="contact">Contact Number:</label>
                        <span id="contact"></span>
                    </div>
                
                    <div class="input-container">
                        <label for="email">Email Address:</label>
                        <span id="email"></span>
                    </div>    
        </div>

		<div id="footer">
			<h1 id="footer-heading">SHARE YOUR EXPERIENCE</h1>
			<h3 id="footer-caption">Share your Dusk Experience with @theduskhotel and #DuskMoments</h3>
			<hr>

			<div id="footer-details">
				<div id="footer-contact-container" class="footer-section-container">
					<h2>GENERAL ENQUIRIES</h2>
					<p><img id="footer-phone-icon" src="../../static/phone_icon.svg">+65 6798 8789</p>
					<p><img id="footer-phone-icon" src="../../static/mail_icon.svg"><a href="mailto:enquiries@theduskhotel.com">enquiries@theduskhotel.com</a></p>
				</div>
				<div class="footer-section-container">
					<h2>CHECK IN / OUT</h2>
					<p>Check in from: 10:00</p>
					<p>Check out before 12:00</p>
				</div>
				<div class="footer-section-container">
					<h2>CONNECT WITH US</h2>
					<div id="footer-socials-container">
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-facebook" href="https://facebook.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-instagram" href="https://instagram.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-twitter" href="https://twitter.com"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
        function handleSubmit(event) {
            event.preventDefault(); 

            const formData = new FormData(event.target);

            const urlParams = new URLSearchParams(formData);

            const newPageURL = 'finalenquiry.html?' + urlParams.toString();

            window.location.href = newPageURL;
        }

        function getFormDataFromURL() {
                const queryString = window.location.search;
                const urlParams = new URLSearchParams(queryString);

                // Retrieve form data and update the content on the page
                document.getElementById('eventType').innerText = urlParams.get('eventType');
                document.getElementById('company').innerText = urlParams.get('company');
                document.getElementById('eventName').innerText = urlParams.get('eventName');
                document.getElementById('attendees').innerText = urlParams.get('attendees');
                document.getElementById('eventDate').innerText = urlParams.get('eventDate');
                document.getElementById('eventTime').innerText = urlParams.get('eventTime');
                document.getElementById('firstName').innerText = urlParams.get('firstName');
                document.getElementById('lastName').innerText = urlParams.get('lastName');
                document.getElementById('contact').innerText = urlParams.get('contact');
                document.getElementById('email').innerText = urlParams.get('email');
        }
        
    window.onload = getFormDataFromURL;

	</script>
</html>