<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=1, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="../../css/includes/reset.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/views/promotions.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Dusk | Promotions</title>
	</head>
	<body>
		<div id="topbar-container">
			<img id="comp-logo" src="../../static/icon.svg">
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<button id="topbar-booknow-btn">
					BOOK NOW
				</button>
			</div>
		</div>
		<div id="frontpage-container">
			<div id="carousel-container">
			</div>
			<div id="greeter-container">
				<h1 id="page-header">PROMOTIONS</h1>
				<p id="page-caption">Ever changing promotions all year round. View the latest promotions ongoing.</p>

				<div id="content-searchbar">
					<label for="promo-content-search">Search by keyword</label>
					<div id="content-searchbar-input-container">
						<input id="content-searchbar-input-query" name="promo-content-search" type="text">
						<input id="content-searchbar-filter-date" name="promo-content-date" type="date">
						<select id="content-searchbar-filter-category" name="promo-content-category">
							<option value="dining">Dining</option>
							<option value="accommodation">Accommodation</option>
							<option value="events">Events</option>
							<option value="wedding">Wedding</option>
						</select>
						<button id="content-searchbar-enterbtn" type="submit" disabled>Enter</button>
					</div>
				</div>
			</div>
		</div>
		<nav id="greeter-anchorjump">
			<p><a href="#dining">Dining</a> | <a href="#accommodation">Accommodation</a> |  <a href="#events">Events</a> | <a href="#wedding">Wedding</a></p>
		</nav>
		<div id="content-container">
			<section class="section-container" id="dining">
				<div class="section-header-container">
					<h2>Dining</h2>
				</div>
				<div class="section-content-container">
					<p>Have a go at our finely-curated asian culinary dishes.</p>
					<div class="promo-card-grid-container"></div>
				</div>
			</section>
			<section class="section-container" id="accommodation">
				<div class="section-header-container">
					<h2>Accommodation</h2>
				</div>
				<div class="section-content-container">
					<p>Cozy yet luxurious room stays.</p>
					<div class="promo-card-grid-container"></div>
				</div>
			</section>
			<section class="section-container" id="events">
				<div class="section-header-container">
					<h2>Events</h2>
				</div>
				<div class="section-content-container">
					<p>Cozy yet luxurious room stays.</p>
					<div class="promo-card-grid-container"></div>
				</div>
			</section>
			<section class="section-container" id="wedding">
				<div class="section-header-container">
					<h2>Wedding</h2>
				</div>
				<div class="section-content-container">
					<p>Cozy yet luxurious room stays.</p>
					<div class="promo-card-grid-container"></div>
				</div>
			</section>
		</div>

		<div id="footer">
			<h1 id="footer-heading">SHARE YOUR EXPERIENCE</h1>
			<h3 id="footer-caption">Share your Dusk Experience with @theduskhotel and #DuskMoments</h3>
			<hr>

			<div id="footer-details">
				<div id="footer-contact-container" class="footer-section-container">
					<h2>GENERAL ENQUIRIES</h2>
					<p><img id="footer-phone-icon" src="../../static/phone_icon.svg">+65 6798 8789</p>
					<p><img id="footer-phone-icon" src="../../static/mail_icon.svg"><a href="mailto:enquiries@theduskhotel.com">enquiries@theduskhotel.com</a></p>
				</div>
				<div class="footer-section-container">
					<h2>CHECK IN / OUT</h2>
					<p>Check in from: 10:00</p>
					<p>Check out before 12:00</p>
				</div>
				<div class="footer-section-container">
					<h2>CONNECT WITH US</h2>
					<div id="footer-socials-container">
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-facebook" href="https://facebook.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-instagram" href="https://instagram.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-twitter" href="https://twitter.com"></a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="modal-window" class="hidden">
			<div id="modal-container">
				<div id="modal-content-thumbnail">
				</div>
				<div id="modal-content">
					<div id="modal-content-left">
						<h2 id="modal-content-header"></h2>
						<div id="modal-content-description">
							<p id="modal-content-desciption-p"></p>
						</div>
					</div>
					<div id="modal-content-right">
						<div id="modal-content-details">
							<p id="modal-content-details-promo-date">14/02/2023 - 21/02/2023</p>
						</div>
						<button id="modal-content-close-btn">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- CREDITS
			https://svgsilh.com/image/37726.html
		-->
	</body>
	<script>
		// promotions entry
		const promotionsDataByCateg = [
			["2023HT2NDP20OFF", "FDFOOD", "FDTREATS"], // DINING
			["UOB10OFF", "BM10OFF", "FDROOM"], // ACCOMMODATION
			["AMEX10OFF", "FIRSTMICE"], // EVENTS
			["XIJIU"] // WEDDING
		]
		const promotionsDataConds = {
			"WSL": "While stocks last",
			"MEO": "Members exclusive only",
			"TCA": "Terms & conds. apply",
			"LTSS": "Limited to selected suites"
		}
		const promotionsData = {
			"2023HT2NDP20OFF": {
				name: "20% Off 2nd Pax for High Tea",
				description: "2nd pax dine at a discounted price of 65.90+ (<i>U.P. 82.75+</i>)\nLimited to only one 2nd pax for a table",
				date: "14/05/23 - 21/05/23",
				conds: [
					"WSL", "MEO", "TCA"
				]
			},
			"UOB10OFF": {
				name: "10% Off Suites w/ UOB Card",
				description: "10% off for suites rooms when you pay with UOB card",
				date: "01/01/23 - 01/06/23",
				conds: [
					"LTSS", "TCA"
				]
			},
			"BM10OFF": {
				name: "10% Off Rooms on Your Birthday Month",
				description: "10% off for one classic rooms on your birthday month.\nLimited to a maximum of 5 nights stay.",
				date: "01/01/2023 - 31/12/2024",
				conds: [
					"MEO", "TCA"
				]
			},
			"TESTER": {
				name: "Te",
				description: "TEST",
				date: "definite",
				conds: [
					"MEO"
				]
			},
			"FDROOM": {
				name: "8% Off Rooms This Father's Day",
				description: "8% off your final receipt price for any room bookings of your choice.",
				date: "01/07/2023 - 31/07/2023",
				conds: [
					"TCA"
				]
			},
			"FDFOOD": {
				name: "5% Off Food This Father's Day",
				description: "8% off your final receipt price for any dine-ins of your choice.",
				date: "01/07/2023 - 31/07/2023",
				conds: [
					"TCA"
				]
			},
			"FDTREATS": {
				name: "Free Goodie Bag This Father's Day",
				description: "Get a free goodie bags worth up to SGD50++ of treats upon completion of any dining reservations.\nClaimable for every male pax who comes in with a child.",
				date: "01/07/2023 - 18/07/2023",
				conds: [
					"TCA", "WSL", "MEO"
				]
			},
			"AMEX10OFF": {
				name: "10% Off Bill",
				description: "10% off meetings and venues reservation fees when you complete the transaction with a corporate AMEX card.",
				conds: [
					"TCA"
				]
			},
			"FIRSTMICE": {
				name: "5% Off Virtual Conference",
				description: "First time clients hosting a semi-large virtual meeting will be granted a 5% discount as a small token of appreciation.\nMeeting attendees must exceed 50 guests.",
				date: "01/08/2023 - 01/08/2024",
				conds: [
					"TCA", "MEO"
				]
			},
			"XIJIU": {
				name: "Free Gift Hamper",
				description: "A free hamper consisting of SGD300++ worth of gifts will be gifted to members who hold weddings here.\nSimply obtain the membership details during booking.",
				date: "01/08/2023 - 01/08/2024",
				conds: [
					"TCA", "MEO"
				]
			}
		}

		// references
		var modalWindow = document.getElementById("modal-window")

		// modal object
		const modal = {
			window: modalWindow,
			container: document.getElementById("modal-container"),

			header: document.getElementById("modal-content-header"),
			description: document.getElementById("modal-content-desciption-p"),
			date: document.getElementById("modal-content-details-promo-date")
		}

		modal.toggleOpen = function(open) {
			// open: boolean
			if (open) {
				modalWindow.classList.remove("hidden")
			} else {
				modalWindow.classList.add("hidden")
			}
		}

		modal.loadDescription = function(id) {
			// returns true if loading was successful
			var data = promotionsData[id]
			if (data == null) {
				// no matching ids
				return false
			}

			// load title
			this.header.innerHTML = data.name
			this.description.innerHTML = data.description.replaceAll("\n", "<br>")

			// load timing
			this.date.innerHTML = data.date

			// return true
			return true
		}
		
		// master controller
		const controller = {
			sectionContainers: [
				document.getElementById("dining").getElementsByClassName("promo-card-grid-container")[0],
				document.getElementById("accommodation").getElementsByClassName("promo-card-grid-container")[0],
				document.getElementById("events").getElementsByClassName("promo-card-grid-container")[0],
				document.getElementById("wedding").getElementsByClassName("promo-card-grid-container")[0],
			],

			cards: []
		}

		controller.rebuildCards = function(searchParams) {
			// searchParams: {query: str, category: number?}?
			// build cards based on search params if no simply list them all
			// handles all the visual aspects (i.e. updating, order)
			// promo cards population & registering of clicks
			for (let i = 0; i < 4; i++) {
				// category pointer
				var promos = promotionsDataByCateg[i]
				var container = this.sectionContainers[i]

				var isValid = true;
				if (searchParams && searchParams.category && typeof searchParams.category === "number") {
					isValid = searchParams.category === -1 || searchParams.category === i; // -1 to search within all categories
				}

				var searchActor;
				if (searchParams && isValid && searchParams.query) {
					var searchQuery = searchParams.query.toLowerCase()
					searchActor = promos.map(promoCode => [promoCode, promotionsData[promoCode].name.toLowerCase()])

					searchActor = searchActor.filter(pack => {
						console.log(pack[1], searchQuery, pack[1].includes(searchQuery))
						return pack[1].includes(searchQuery) // only perform sorting on interested elements
					}).sort((a, b) => {
						console.log(a[1])
						var i = a[1].indexOf(searchQuery)
						var j = b[1].indexOf(searchQuery)
						if (i > j) {
							// j comes before i
							return 1
						} else if (i < j) {
							// j comes after i
							return -1
						} else {
							// same position, maintain RELATIVE positions
							return 0
						}
					})
				}

				if (isValid) {
					// there is query present
					
				}

				for (let j = 0; j < promos.length; j++) {
					let promocode = promos[j]
					var promodata = promotionsData[promocode]

					// construct new promo card element
					var bigcontainer = document.createElement("div")
					bigcontainer.classList.add("promo-card")

					var topcontainer = document.createElement("div")
					topcontainer.classList.add("promo-card-top-container")
					bigcontainer.appendChild(topcontainer)

					var thumbnail = document.createElement("div")
					thumbnail.classList.add("promo-card-thumbnail")
					// add background image here for promo card here
					topcontainer.appendChild(thumbnail)

					var specscontainer = document.createElement("div")
					specscontainer.classList.add("promo-card-specs-container")
					topcontainer.appendChild(specscontainer)

					// add specs (date first then any conds they have)
					var datespec = document.createElement("p")
					datespec.className = "promo-card-specs-date"
					datespec.innerHTML = promodata.date
					specscontainer.appendChild(datespec)
					for (let k = 0; k < promodata.conds.length; k++) {
						var spec = document.createElement("p")
						spec.className = "promo-card-specs-tc"
						spec.innerHTML = promotionsDataConds[promodata.conds[k]]
						specscontainer.appendChild(spec)
					}

					var detailscontainer = document.createElement("div")
					detailscontainer.classList.add("promo-card-details")
					bigcontainer.appendChild(detailscontainer)

					var detailsheading = document.createElement("h3")
					detailsheading.innerHTML = promodata.name
					var viewmorebtn = document.createElement("button")
					viewmorebtn.id = promocode
					viewmorebtn.classList.add("promo-card-view-more-btn")
					viewmorebtn.innerHTML = "VIEW MORE"

					detailscontainer.appendChild(detailsheading)
					detailscontainer.appendChild(viewmorebtn)

					// register click events
					viewmorebtn.addEventListener("click", e => {
						e.stopPropagation() // stop bubbling

						if (modal.loadDescription(promocode)) {
							modal.toggleOpen(true)
						}
					})

					// add it to container
					container.appendChild(bigcontainer)
				}
			}
		}

		// promo card view more
		var promoTriggerBtns = document.getElementsByClassName("promo-card-view-more-btn")
		for (let i = 0; i < promoTriggerBtns.length; i++) {
			var ele = promoTriggerBtns[i]
			ele.addEventListener("click", e => {
				console.log("LOADING WITH ID", e.target.id)
				if (modal.loadDescription(e.target.id)) {
					modal.toggleOpen(true)
				}
			})
		}

		// set min-date for date input (content-searchbar)
		document.getElementById("content-searchbar-filter-date").setAttribute("min", new Date().toISOString().split("T")[0])

		// search function
		document.getElementById("content-searchbar-input-query").addEventListener("input", e => {
			controller.rebuildCards({query: e.target.value});
		})

		// modal close interactors
		modal.window.addEventListener("click", e => {
			modal.toggleOpen(false)
		})
		document.getElementById("modal-content-close-btn").addEventListener("click", e => {
			e.stopPropagation() // prevent event to bubble to modal-window (double triggers in this case)
			modal.toggleOpen(false)
		})
		modal.container.addEventListener("click", e => {
			e.stopPropagation() // prevent event to bubble to modal-window (triggers close in this case)
		})
	</script>
</html>