<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=1, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="../../css/includes/reset.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/views/restaurants.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Dusk | Restaurants</title>
	</head>
	<body>
		<div id="topbar-container">
			<img id="comp-logo" src="../../static/icon.svg">
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<button id="topbar-booknow-btn">
					BOOK NOW
				</button>
			</div>
		</div>
		<div id="frontpage-container">
			<div id="carousel-container">
			</div>
			<div id="greeter-container">
				<h1>DAWN @ Dusk</h1>
				<h3>An immersive and elegant dining experience</h3>
			</div>
		</div>
		<nav id="greeter-anchorjump">
			<p>18 Marina Gardens Dr, Singapore 018953 | +65 6158 7190</p>
		</nav>
		<div id="card-grid-overflow-pseudo-container">
			<div id="card-grid-container">
				<div id="breakfast-service" class="service-card-frame">
					<div class="service-card-node"></div>
					<div class="service-card-connector"></div>
					<div class="service-card-container">
						<div class="service-card-thumbnail">
						</div>
						<div class="service-card-round-icon-container">
						</div>
						<div class="service-card-content-container">
							<h1>Breakfast service<img src="../../static/croissant_icon.svg"></h1>
							<div class="service-card-details-content-container">
								<p><img src="../../static/star_icon.svg">4.1/5</p>
								<p>08:00am - 12pm</p>
							</div>
						</div>
					</div>
					<div class="service-card-last-connector"></div>
					<button class="service-card-menu-download" type="button">
						<p>Download</p>
						<h1>MENU</h1>
					</button>
				</div>
				<div id="lunch-service" class="service-card-frame">
					<div class="service-card-node"></div>
					<div class="service-card-connector"></div>
					<div class="service-card-container">
						<div class="service-card-thumbnail">
						</div>
						<div class="service-card-round-icon-container">
						</div>
						<div class="service-card-content-container">
							<h1>Lunch service<img src="../../static/ramen_icon.svg"></h1>
							<div class="service-card-details-content-container">
								<p><img src="../../static/star_icon.svg">4.7/5</p>
								<p>12pm - 03:00pm</p>
							</div>
						</div>
					</div>
					<div class="service-card-last-connector"></div>
					<button class="service-card-menu-download" type="button">
						<p>Download</p>
						<h1>MENU</h1>
					</button>
				</div>
				<div id="dinner-service" class="service-card-frame">
					<div class="service-card-node"></div>
					<div class="service-card-connector"></div>
					<div class="service-card-container">
						<div class="service-card-thumbnail">
						</div>
						<div class="service-card-round-icon-container">
						</div>
						<div class="service-card-content-container">
							<h1>Dinner service<img src="../../static/dinner_icon.svg"></h1>
							<div class="service-card-details-content-container">
								<p><img src="../../static/star_icon.svg">4.4/5</p>
								<p>05:30pm- 10pm</p>
							</div>
						</div>
					</div>
					<div class="service-card-last-connector"></div>
					<button class="service-card-menu-download" type="button">
						<p>Download</p>
						<h1>MENU</h1>
					</button>
				</div>
			</div>
		</div>
		<div id="footer" class="">
			<h1 id="footer-heading">SHARE YOUR EXPERIENCE</h1>
			<h3 id="footer-caption">Share your Dusk Experience with @theduskhotel and #DuskMoments</h3>
			<hr>

			<div id="footer-details">
				<div id="footer-contact-container" class="footer-section-container">
					<h2>GENERAL ENQUIRIES</h2>
					<p><img id="footer-phone-icon" src="../../static/phone_icon.svg">+65 6798 8789</p>
					<p><img id="footer-phone-icon" src="../../static/mail_icon.svg"><a href="mailto:enquiries@theduskhotel.com">enquiries@theduskhotel.com</a></p>
				</div>
				<div class="footer-section-container">
					<h2>CHECK IN / OUT</h2>
					<p>Check in from: 10:00</p>
					<p>Check out before 12:00</p>
				</div>
				<div class="footer-section-container">
					<h2>CONNECT WITH US</h2>
					<div id="footer-socials-container">
						<a class="footer-socials-redirect" id="footer-socials-facebook" href="https://facebook.com"></a>
						<a class="footer-socials-redirect" id="footer-socials-instagram" href="https://instagram.com"></a>
						<a class="footer-socials-redirect" id="footer-socials-twitter" href="https://twitter.com"></a>
					</div>
				</div>
			</div>
		</div>


<!-- 		<div id="ws"></div>
		<div id="footer">
			<p class="title2">SHARE YOUR EXPERIENCE</p><br>
			<p class="title3"><i>Share Your Dusk Experience with @theduskhotel and #DuskMoments</i></p><hr class="hrstyle">
			<br><br>
			<div id="split">
				<div class="experience1">
					<p class="social">GENERAL ENQUIRIES</p>
					<p class="bottomalign"><i style='font-size:18px' class='fa'>&#xf095;</i> +65 6798 8789
					<br><br>
					<a href="mailto:enquiries@theduskhotel.com"><i style='font-size:18px' class='fa'>&#xf0e0;</i> enquiries@theduskhotel.com</a></p>
				</div>

				<div class="experience">
					<p class="social">CHECK IN / OUT</p>
					<p class="bottomalign">Check in from: 10:00<br>
					Check out before: 12:00</p>
				</div>
				<div class="experience">
					<p class="social">CONNECT WITH US</p>
					<p><a href="https://www.facebook.com/" class="fa fa-facebook"></a>
						<a href="https://twitter.com/?lang=en-sg" class="fa fa-twitter"></a>
						<a href="https://www.instagram.com" class="fa fa-instagram"></a>
					</p>
				</div>
			</div>
		</div> -->
		<!-- CREDITS
			https://svgsilh.com/image/37726.html
		-->
	</body>
	<script>
		// set scroll for mobile to 50%
		var cardgridcontainer = document.getElementById("card-grid-overflow-pseudo-container");
		cardgridcontainer.scrollTo(cardgridcontainer.children[0].offsetWidth *.3333, 0)
	</script>
</html>