<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=10.0, minimum-scale=1, user-scalable=yes"/>
		<meta name="description" content=":)"/>

		<link rel="icon" type="image/x-icon" href="">
		<link rel="stylesheet" href="../../css/includes/reset.css">
		<link rel="stylesheet" href="../../css/includes/topbar.css">
		<link rel="stylesheet" href="../../css/includes/footer.css">
		<link rel="stylesheet" href="../../css/includes/tags.css">
		<link rel="stylesheet" href="../../css/views/venues.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

		<title>Dusk | Promotions</title>
	</head>
	<body>
		<div id="topbar-container">
			<img id="comp-logo" src="../../static/icon.svg">
			<div id="topbar-right-container">
				<button id="topbar-member-login-btn">
					<img src="../../static/account_icon.svg">
					Member sign in
				</button>
				<button id="topbar-booknow-btn">
					BOOK NOW
				</button>
			</div>
		</div>
		<div id="header-container">
			<h1>VENUES</h1>
			<h3>Plan your next event with us in our exclusive venues, tailored based on your event needs.</h3>
		</div>
		<div id="body-content">
			<div class="function-card">
				<div class="function-image">
				</div>
				<div class="function-detail-container">
					<div class="function-detail-info">
						<h2>The Grand Ballroom</h2>
						<p>Dynamic, multi-entertainment venue capable of hosting a variety of meetings & events.<br>Boasts 3 state-of-the-art LED video walls, complemented with a superior sound system.</p>
					</div>
					<div class="function-attributes-container">
						<div class="function-pax-count">
							<p>100 Guests</p>
						</div>
						<div class="function-wifi-icon">
						</div>
						<div class="function-accessible-icon">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="secondpart">
			<span class="general">
				<p>For events enquiries, feel free to reach out to us without any hesitation and we look forward to welcoming you soon.</p>
			</span>
			<span class="info"> 
				<p> Contact Information
				<br> 
				Email: meetings@theduskhotel.com </p>
				
				<br>
				<a href="generalinquire.html" target="_blank" class="global-site-btn"> INQUIRE </a>
			</span>
		</div>

		<div class="faq">
			<div class="faq-item">
				<div class="faq-header"> Capacity Chart </div>
					<div class="faq-content">
						<table>
							<tr>
								<th>Venue</th>
								<th>Dimension in Meter (LxWxH)</th>
								<th>Area (sq.mt)</th>
								<th>Capacity (pax)</th>
							</tr>
							<tr>
								<td>The Grand Ballroom</td>
								<td>35.1x31.1x5</td>
								<td>1089.7</td>
								<td>1000</td>
							</tr>
							<tr>
								<td>Junior Ballroom</td>
								<td>13.5x16x4.8</td>
								<td>216</td>
								<td>234</td>
							</tr>
							<tr>
								<td>The Boardroom</td>
								<td>8.4x6.4x2.7</td>
								<td>53.5</td>
								<td>40</td>
							</tr>
						</table>
					</div>
				</div>
			
				<div class="faq-item">
					<div class="faq-header"> Equipments and Services </div>
						<div class="faq-content" id="equipment-services">
							<h2 class="top-list"> Audio-Visual Equipment </h2>
							<li class="faq-list">
								<ul>AV Technician</ul>
								<ul>LCD Projector</ul>
								<ul>Microphone</ul>
								<ul>Overhead Projector</ul>
								<ul>PA System</ul>
								<ul>TV</ul>
								<ul>TV Production Service Provider</ul>
								<ul>Teleconferencing</ul>
								<ul>Videoconferencing</ul>
								<ul>Wireless Internet</ul>
							</li>

							<hr class="faq-hr">

							<h2 class="top-list"> Event Equipment & Supplies </h2>
							<li class="faq-list">
								<ul>Direction Signs</ul>
								<ul>Flip Chart & Markers</ul>
								<ul>Name Cards</ul>
								<ul>Pens / Pencils / Notepad</ul>
								<ul>Spotlights</ul>
								<ul>Tables</ul>
								<ul>Wall Charts</ul>
							</li>


							<hr class="faq-hr">

							<h2 class="top-list"> Event Services </h2>
							<li class="faq-list">
								<ul>Carpenter</ul>
								<ul>Decorator</ul>
								<ul>Electrician</ul>
								<ul>Event Lighting</ul>
								<ul>Locksmith</ul>
								<ul>Message Service</ul>
								<ul>Photographer</ul>
								<ul>Registration Service</ul>
								<ul>Security Guards</ul>
							</li>
						</div>
					</div>
				</div>
			</div>
		<div id="footer">
			<h1 id="footer-heading">SHARE YOUR EXPERIENCE</h1>
			<h3 id="footer-caption">Share your Dusk Experience with @theduskhotel and #DuskMoments</h3>
			<hr>

			<div id="footer-details">
				<div id="footer-contact-container" class="footer-section-container">
					<h2>GENERAL ENQUIRIES</h2>
					<p><img id="footer-phone-icon" src="../../static/phone_icon.svg">+65 6798 8789</p>
					<p><img id="footer-phone-icon" src="../../static/mail_icon.svg"><a href="mailto:enquiries@theduskhotel.com">enquiries@theduskhotel.com</a></p>
				</div>
				<div class="footer-section-container">
					<h2>CHECK IN / OUT</h2>
					<p>Check in from: 10:00</p>
					<p>Check out before 12:00</p>
				</div>
				<div class="footer-section-container">
					<h2>CONNECT WITH US</h2>
					<div id="footer-socials-container">
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-facebook" href="https://facebook.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-instagram" href="https://instagram.com"></a>
						</div>
						<div class="footer-socials-hover-grow-container">
							<a class="footer-socials-redirect" id="footer-socials-twitter" href="https://twitter.com"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		// Get all accordion headers
		var faqHeaders = document.getElementsByClassName('faq-header');

		// Add click event listener to each accordion header
		Array.from(faqHeaders).forEach(function(header) {
		  header.addEventListener('click', function() {
			this.classList.toggle("active");
			// Toggle the visibility of accordion content
			var content = this.nextElementSibling;
			if (content.style.display === 'block') {
			  content.style.display = 'none';
			} else {
			  content.style.display = 'block';
			}
		  });
		});

		// var acc = document.getElementsByClassName("faq-header");
		// var i;

		// for (i = 0; i < acc.length; i++) {
		//   acc[i].addEventListener("click", function() {
		//     this.classList.toggle("active");
		//     var panel = this.nextElementSibling;
		//     if (panel.style.maxHeight) {
		//       panel.style.maxHeight = null;
		//     } else {
		//       panel.style.maxHeight = panel.scrollHeight + "px";
		//     } 
		//   });
		// }
	</script>
</html>